
.game-container{
    width: 1080px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}
.container{
    display: flex;
}

.sq div{
    width: 40px;
    height: 40px;
}

.user-grid, .comp-grid {
    width: 400px;
    height: 400px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(34, 27, 27);
}

.comp-grid {
    width: 400px;
    height: 400px;
    margin: 10px;   
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(5, 22, 78);
}

.ship-placement {
    width: 230px;
    height: 230px;
    margin: 10px;
}

.ship div{
    width: 40px;
    height: 40px;
}

.destroyer-x{
    width: 80px;
    height: 40px;
    background-color: rgb(199, 28, 71);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.submarine-x, .cruiser-x{
    width: 120px;
    height: 40px;
    background-color: rgb(199, 28, 71);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.battleship-x{
    width: 160px;
    height: 40px;
    background-color: rgb(199, 28, 71);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.carrier-x{
    width: 200px;
    height: 40px;
    background-color: rgb(199, 28, 71);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.used{
    background-color: yellow;
}

.destroyer-y{
    width: 40px;
    height: 80px;
    background-color: rgb(199, 28, 71);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.submarine-y, .cruiser-y{
    width: 40px;
    height: 120px;
    background-color: rgb(199, 28, 71);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.battleship-y{
    width: 40px;
    height: 160px;
    background-color: rgb(199, 28, 71);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}
.carrier-y{
    width: 40px;
    height: 200px;
    background-color: rgb(199, 28, 71);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.hit{
    background-color: red;
}

.miss{
    background-color: white;
}