@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@900&display=swap');


body{
    background-image: url(/images/Blue_Ship.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Overlock', sans-serif;
}

.buttons{
    font-size: 12px;
    background-color: #3d3c4b;
    padding: 10px 30px;
    color: White;
    border-radius: 4vh;
    appearance: button;
}

.gameButtons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.shipButtons{
    display: flex;
    justify-content: center;
}

.main-container{
    height: 100vh;

}

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.infor-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid{
    margin: 2vmin;
    display:grid;
    background-color: #3d3c4be3;
    grid-template-rows: repeat(10, 4.6vmin);
    grid-template-columns: repeat(10, 4.6vmin);
}
.grid-container{
    display: flex;
}

.sq div{
    border: 1px solid hsla(0,0%,100%,.2);
}

.draggedShips{
    display: flex;
}

.ship-placement{
    display: flex;
}

.ship > div{
    width: 4.6vmin;
    height: 4.6vmin;
}
#turnMsg, #gameMsg{
    display: flex;
    justify-content: center;
}
.grid-title{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 120%;
}
.ship{
    display: flex;
    flex-wrap: wrap;
    margin: 1vmin;
    width: calc(4.6vmin * var(--width,1));
    height: calc(4.6vmin * var(--height,1));
}
.destroyer-x{
    --width: 2;
    --height: 1;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}
.submarine-x, .cruiser-x{
    --width: 3;
    --height: 1;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}
.battleship-x{
    --width: 4;
    --height: 1;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}
.carrier-x{
    --width: 5;
    --height: 1;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}
.used{
    background-color: rgba(248, 187, 96, 0.562);
}
.compSq-hide{
    background-color: #3d3c4bd7; /*#3d3c4bd7*/
}

.destroyer-y{
    --width: 1;
    --height: 2;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.submarine-y, .cruiser-y{
    --width: 1;
    --height: 3;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.battleship-y{
    --width: 1;
    --height: 4;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}
.carrier-y{
    --width: 1;
    --height: 5;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.hit{
    background-color: red;
}

.miss{
    background-color: white;
}