@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@900&display=swap');


body{
    /* background-image: url(/images/battleship8.png); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Overlock', sans-serif;
}

.main-container{
    height: 100vh; /*SOMETHING NEW: 100vh = 100 viewport height --> Follows the browser viewport. catered for mobile too.*/    
}

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infor-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid{
    margin: 2vmin;
    display:grid;
    background-color: #3d3c4be3;
    grid-template-rows: repeat(10, 4.6vmin); /* SOMETHING NEW: originally had issues with grid sizing due to borders ard each sq. this helps to unify the sq*/ 
    grid-template-columns: repeat(10, 4.6vmin); /*vmin - will compare the viewport's height & width and make take the smaller number. 4.6 * 10 = grid is 46% of viewport*/ 
}

.grid-container{
    display: flex;
}

.sq div{
    border: 1px solid hsla(0,0%,100%,.2);
}

.draggedShips{
    display: flex;
}

.ship-placement{
    display: flex;
}

.ship > div{
    width: 4.6vmin;
    height: 4.6vmin;
}

#turnMsg, #gameMsg{
    display: flex;
    justify-content: center;
}

.grid-title{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 120%;
}

.buttons{
    font-size: 12px;
    background-color: #3d3c4b;
    padding: 10px 30px;
    color: White;
    border-radius: 4vh; 
    /* appearance: button; */
}

.gameButtons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.shipButtons{
    display: flex;
    justify-content: center;
}

.ship{
    display: flex;
    flex-wrap: wrap;
    margin: 1vmin;
    width: calc(4.6vmin * var(--width,1)); /*SOMETHING NEW: calculate CSS. Due to ships having to be horizontal & vertical. calc() helps to just use 'units' for width & height of ship.*/
    height: calc(4.6vmin * var(--height,1));
}

.destroyer-x{
    --width: 2;
    --height: 1;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    /* flex-wrap: nowrap; */
}

.submarine-x, .cruiser-x{
    --width: 3;
    --height: 1;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    /* flex-wrap: nowrap; */
}

.battleship-x{
    --width: 4;
    --height: 1;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    /* flex-wrap: nowrap; */
}

.carrier-x{
    --width: 5;
    --height: 1;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    /* flex-wrap: nowrap; */
}

.used{
    background-color: rgba(248, 187, 96, 0.562);
}

.compSq-hide{
    background-color: #31313b2d; 
    /* #e73ecbd0 <-- GOD MODE */ 
    /* #31313b57 < -- SEMI-GOD MODE */
    /* #3d3c4b07 <-- Full invisibility */
}

.destroyer-y{
    --width: 1;
    --height: 2;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    /* flex-wrap: nowrap; */
}

.submarine-y, .cruiser-y{
    --width: 1;
    --height: 3;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    /* flex-wrap: nowrap; */
}

.battleship-y{
    --width: 1;
    --height: 4;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    /* flex-wrap: nowrap; */
}

.carrier-y{
    --width: 1;
    --height: 5;
    background-color: rgba(248, 187, 96, 0.562);
    margin: 5px;
    display: flex;
    /* flex-wrap: nowrap; */
}

.hit{
    background-color: rgba(255, 0, 0, 0.514);
    animation: ripples 2s ease-in-out infinite;
    border-radius: 50%;

}

.miss{
    background-color: #493ee7d0;
    animation: shadow-drop-center 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

@keyframes ripples {
    0% {
      opacity: 1;
      transform: scale(0.5);
    }
  
    100% {
      opacity: .7;
      transform: scale(1);
    }
}

@keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.35);
              box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.35);
    }
  }
  